<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div>
        {{ app.user.correo }}
        <a href="/categoria">Home</a>
        <a href="/pedidos/mostrarcarrito">Carrito</a>
        <a href="/logout">Logout</a>
        </div>
        <hr>
        
        
        {% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
