{% extends 'base.html.twig' %}

{% block title %}Pedido realizado{% endblock %}

{% block body %}
{{ parent() }}

    <p>Pedido realizado con exito</p>
    <a href="/categoria">Volver</a>

{% endblock %}